ul {
    list-style-type: none;
    margin: 0%;
    
    overflow: hidden;
    background-color: #2a2e36;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0%;
    
}


li {
    float: inline-start;
    border-right: 2px solid #27252a ;
    font-size: 200%;
    padding: 1%;
}
  
li a {
    display: block;
    padding-left:  1dvw;
    padding-right: 1dvw;
    background-color: #2a2e36;
    color:#ffffff;
    text-decoration: none;
}

li a:hover {
    color: #808080;
}